<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        function sendtousers() {
            name = document.getElementById("username").value
            pass = document.getElementById("password").value
            reppass = document.getElementById("reppassword").value
            resp = works(name,pass,reppass)
            if (resp==true) {
                data = [name, pass]
                var xhr = new XMLHttpRequest();
                var url = "http://127.0.0.1:5000/adduser"
                var method = 'POST';

                xhr.open(method, url);
                xhr.setRequestHeader('Access-Control-Allow-Origin', '*')
                xhr.setRequestHeader('Content-Type', 'application/json')
                xhr.onload = function () { console.log('User has been added') };

                let realdata = JSON.stringify(data)

                xhr.send(realdata);
            }
            else{
                warning = 'Warning: ' + resp
                document.getElementById("warning").innerHTML= warning
            }
        }
        function works(name, pass, reppass){
            if(name==''){
                return 'Please enter a username'
            }
            else if(pass==''){
                return 'Please enter a password'
            }
            else if(reppass==''){
                return 'Please repeat your password'
            }
            else if(reppass!=pass){
                return 'Passwords do not match'
            }
            else if(pass.length < 8){
                return 'Password must have at least 8 characters'
            }
            else if(hasUpperLetters(pass)==false){
                return 'Password must include uppercase letter'
            }
            else if(hasNumber(pass)==false){
                return 'Password must include a number'
            }
            else if(hasSpecialCharacters(pass)==false){
                return 'Password must include a special character(!,#,%,(,),+,-,*,,,.,/)'
            }
            else{
                return true
            }
        }
        function hasNumber(word){
            out = false
            ar = ['1','2','3','4','5','6','7','8','9','0']
            for(let i=0;i<word.length;i++){
                if(ar.includes(word[i])){
                    out = true
                }
            }
            return out
        }
        function hasUpperLetters(word){
            out = false
            ar = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
            for(let i=0;i<word.length;i++){
                if(ar.includes(word[i])){
                    out = true
                }
            }
            return out
        }
        function hasSpecialCharacters(word){
            out = false
            ar = ['!','#','%','(',')','+','-','*',',','.','/']
            for(let i=0;i<word.length;i++){
                if(ar.includes(word[i])){
                    out = true
                }
            }
            return out
        }
        function getceruser(name,pass){
            var xhr = new XMLHttpRequest();
            var url = "http://127.0.0.1:5000/getceruser"
            var method = 'POST';

            xhr.open(method, url);
            xhr.setRequestHeader('Access-Control-Allow-Origin', '*')
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.onload = function () { console.log(this.response);}

            let realdata = JSON.stringify([name,pass])

            xhr.send(realdata);
        }
        function login(){
            accname = document.getElementById("accname").value
            accpass = document.getElementById("accpass").value
            getceruser(accname,accpass)
        }
    </script>
    <p>Username:</p>
    <input type="text" name="username" id="username">
    <p>Password:</p>
    <input type="text" name="password" id="password">
    <p>Repeat password:</p>
    <input type="text" name="reppassword" id="reppassword">
    <p id = "warning"></p>
    <button onclick="sendtousers()">Create new user</button>
    <p>Username:</p>
    <input type="text" name="accname" id="accname">
    <p>Password:</p>
    <input type="text" name="accpass" id="accpass">
    <button onclick="login()">log in</button>
</body>

</html>