<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body onload="dostart()">
    <h1>Please enter your data</h1>

    <p id="first">
    <p id="fielddump" class="ffield"><input type="temptext" class="x1x1" onblur="con()" value="Vorname"><input
            type="temptext" class="x1x2" onblur="con()" value="Nachname"><input type="temptext" class="x1x3"
            onblur="con()" value="Mail-Addresse"><input type="temptext" class="x1x4" onblur="con()" value="Addresse">
    </p>
    <p id="secfielddump" class="secfield">
    <p id="field" class="field"></p>
    <p id="secfield" class="secfield"></p>
    </p>
    </p>
    <script>
        let vertmode='neut'
        let horzmode='neut'
        let addrowmode = 'last'
        let delrowmode = 'last'
        let addcolumnmode = 'last'
        let delcolumnmode = 'last'
        let buttonsopen = false
        let settingsopen = false
        let horzbuttonsopen = false
        let backupArray = []
        let rowcount = 1
        let columncount = 4
        function addrow(mode) {
            if (addrowmode == 'last') {
                if (mode == 'nor') { con() }
                rowcount++
                console.log('rowcount is ' + rowcount)
                content = ''
                for (let i = 1; i < columncount + 1; i++) {
                    let unid = 'x' + rowcount + "x" + i
                    let inp = '<input type="temptext" class="' + unid + '" onblur="con()">'
                    content = content + inp
                }
                console.log(content)
                document.getElementById("field").innerHTML = content
                document.getElementById("field").classList = "ffield"
                document.getElementById("field").id = "fielddump"
                document.getElementById("secfield").innerHTML = '<p id="field" class="field"></p><p id = "tempfield" class ="secfield"></p>'
                document.getElementById("secfield").id = "secfielddump"
                document.getElementById("tempfield").id = "secfield"
                if (mode != 'hal') { loadArray('nor') }
            }
            else if (addrowmode == 'fir') {
                con()
                addrowmode = 'last'
                addrow('nor')
                addrowmode = 'fir'
                content = []
                for (let i = 1; i < columncount + 1; i++) {
                    inp = ""
                    content.push(inp)
                }
                bua = backupArray
                bua.splice(1, 0, content)
                backupArray = bua
                loadArray('nor')
            }
            else if (addrowmode == 'cus') {
                mode = 'Place'
                horztogglebuttonfield(mode)
            }
        }
        function addcol(mode) {
            if (addcolumnmode == 'last') {
                con()
                columncount++
                curdoc = document.querySelectorAll(".ffield")
                for (let ii = 1; ii < curdoc.length + 1; ii++) {
                    mancoun = 1
                    content = ''
                    for (let i = 1; i < columncount + 1; i++) {
                        let unid = 'x' + ii + "x" + i
                        let inp = '<input type="temptext" class="' + unid + '" onblur="con()">'
                        content = content + inp
                    }
                    curdoc[ii - 1].innerHTML = content
                    mancoun++
                }
                if (mode != 'kthar') { loadArray('nor') }
                if (mode != 'nonnor') { con() }
            }
            else if (addcolumnmode == 'fir') {
                con()
                bua = backupArray
                addcolumnmode = 'last'
                addcol('nonnor')
                addcolumnmode = 'fir'
                for (let i = 0; i < bua.length; i++) {
                    bua[i].splice(0, 0, "")
                }
                backupArray = bua
                loadArray('nor')
            }
            else if (addcolumnmode == 'cus') {
                mode = 'Place'
                togglebuttonfield(mode)
            }
        }
        function delrow(mode) {
            if (delrowmode == 'last') {
                con()
                console.log('rowcount is ' + rowcount)
                if (rowcount > 2) {
                    curdoc = document.querySelectorAll(".secfield")
                    if (curdoc.length > 2) {
                        curcurdoc = curdoc[curdoc.length - 2]
                    }
                    else {
                        curcurdoc = curdoc[0]
                    }
                    curdocval = document.querySelectorAll(".ffield")
                    curcurdocval = curdocval[curdocval.length - 1]
                    console.log(curdocval + 'is curdocval')
                    curcurdocval.innerHTML = ""
                    curcurdocvalnew = curdocval[curdocval.length - 2]
                    curcurdocvalnew.id = "field"

                    console.log(curdoc)
                    console.log(curcurdoc)
                    curcurdoc.innerHTML = ""
                    //curcurdoc.id="secfield"
                    curcurdocnew = curdoc[curdoc.length - 3]
                    curcurdocnew.id = "secfield"

                    rowcount--
                    rowcount--
                    save = addrowmode
                    addrowmode = 'last'
                    addrow('mor')
                    addrowmode = save
                }
                loadArray('row')
                if (mode != 'nonnor') { con() }
            }
            else if (delrowmode == 'fir') {
                con()
                delrowmode = 'last'
                delrow('nonnor')
                delrowmode = 'fir'
                bua = backupArray
                bua.splice(1, 1)
                backupArray = bua
                loadArray('nor')
            }
            else if (delrowmode == 'cus') {
                mode = '-Cut-'
                horztogglebuttonfield(mode)
            }
        }
        function delcol(mode) {
            if (delcolumnmode == 'last') {
                con()
                if (columncount > 1) {
                    columncount--
                    curdoc = document.querySelectorAll(".ffield")
                    for (let ii = 1; ii < curdoc.length + 1; ii++) {
                        content = ''
                        for (let i = 1; i < columncount + 1; i++) {
                            unid = 'x' + ii + "x" + i
                            inp = '<input type="temptext" class="' + unid + '" onblur="con()">'
                            content = content + inp
                        }
                        console.log(content)
                        console.log(curdoc)
                        curdoc[ii - 1].innerHTML = content
                    }
                }
                loadArray('col')
                if (mode != "nonnor") { con() }
            }
            else if (delcolumnmode == 'fir') {
                con()
                bua = backupArray
                delcolumnmode = 'last'
                delcol('nonnor')
                delcolumnmode = 'fir'
                for (let i = 0; i < bua.length; i++) {
                    bua[i].splice(0, 1)
                }
                backupArray = bua
                loadArray('nor')
            }
            else if (delcolumnmode == 'cus') {
                mode = '-Cut-'
                togglebuttonfield(mode)
            }
        }
        function dosmthfile(ev) {
            ev.preventDefault()
            dt = ev.dataTransfer;
            files = dt.files
            mainfile = files[0]

            let fr = new FileReader();
            fr.readAsText(mainfile);
            fr.addEventListener('load', () => {
                resu = fr.result;
                console.log(resu);

                curword = ''
                currow = []
                full = []
                for(let i=0;i<resu.length;i++){
                    if(resu[i]!=',' && !resu[i].includes('\n') && !resu[i].includes('\r')){
                        curword = curword + resu[i]
                    }
                    else if(resu[i].includes('\n')){
                        currow.push(curword)
                        curword = ''
                        full.push(currow)
                        console.log(currow + ' was pushed')
                        currow =[]
                    }
                    else if(resu[i].includes('\r')){ }
                    else{
                        currow.push(curword)
                        curword = ''
                    }
                }
                console.log(full)
                loadmyArray(full)
            })
        }
        function dosmthdragover(ev) {
            ev.preventDefault()
            console.log('dragging')
        }
        function usefile() {
            usefilepath = 'C:/Users/Noah/Downloads/myfile.txt'
            var xhr = new XMLHttpRequest();
            var url = "http://127.0.0.1:5000/fileinp";
            var method = 'POST';

            xhr.open(method, url);
            xhr.setRequestHeader('Access-Control-Allow-Origin', '*')
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.onload = function () { oncollide(this.response) };

            let realdata = JSON.stringify(usefilepath)

            xhr.send(realdata);
        }
        function oncollide(response) {
            //inprowcount = response.length
            //inpcolumncount = response[0].length
            console.log(typeof response)
            console.log(response)
            //Weil Python ja nicht will: Hier bei einem " die Annahme beginnen und bei einem weiteren " die Annahme beenden(für den ganzen File)
            started = false
            currentString = ''
            fulllist = []
            timelist = []
            for (let i = 0; i < response.length; i++) {
                if (response[i] == '"') {
                    if (started == false) {
                        started = true
                    }
                    else {
                        if (currentString != 'endline') {
                            timelist.push(currentString)
                            currentString = ''
                            started = false
                        }
                        else {
                            fulllist.push(timelist)
                            currentString = ''
                            timelist = []
                            started = false
                        }
                    }
                }
                else if (started == true) {
                    currentString = currentString + response[i]
                }
            }
            loadmyArray(fulllist)
            con()
            console.log(fulllist)
        }
        function loadmyArray(array) {
            bua = array
            if (rowcount >= bua.length && columncount >= bua[0].length) {
                for (let i = 1; i < bua.length + 1; i++) {
                    for (let ii = 1; ii < bua[0].length + 1; ii++) {
                        loadid = 'x' + i + 'x' + ii
                        document.querySelectorAll('.' + loadid)[0].value = bua[i - 1][ii - 1]
                    }
                }
            }
            else {
                if (rowcount < bua.length) {
                    for (let i = bua.length - rowcount; i > 0; i--) {
                        addrow('hal')
                        console.log('row expanded')
                    }
                }
                if (columncount < bua[0].length) {
                    for (let i = bua[0].length - columncount; i > 0; i--) {
                        addcol('kthar')
                        console.log('column expanded')
                    }
                }
                loadmyArray(array)
            }
            con()
        }
        function datafile() {
            usefilepath = 'hentai'
            var xhr = new XMLHttpRequest();
            var url = "http://127.0.0.1:5000/d";
            var method = 'POST';

            xhr.open(method, url);
            xhr.setRequestHeader('Access-Control-Allow-Origin', '*')
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.onload = function () { oncoll(this.response) };

            let realdata = JSON.stringify(usefilepath)

            xhr.send(realdata);
        }
        function oncoll(file) {
            console.log(typeof file)
            console.log(file)
        }
        function datasend() {
            dataArray = []
            for (let i = 1; i < rowcount + 1; i++) {
                datarow = []
                for (let ii = 1; ii < columncount + 1; ii++) {
                    id = "x" + i + "x" + ii
                    currow = document.querySelectorAll("." + id)
                    curval = currow[0].value
                    if (curval != "") {
                        curval = curval.replace('ä','ae')
                        curval = curval.replace('ö','oe')
                        curval = curval.replace('ü','ue')
                        datarow.push(curval)
                    }
                    else {
                        datarow.push('')
                    }
                }
                dataArray.push(datarow)
            }
            console.log(dataArray + ' is dataArray')
            var xhr = new XMLHttpRequest();
            var url = "http://127.0.0.1:5000/data";
            var method = 'POST';

            xhr.open(method, url);
            xhr.setRequestHeader('Access-Control-Allow-Origin', '*')
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.onload = function () { console.log(this.response); con() };

            let realdata = JSON.stringify(dataArray)

            xhr.send(realdata);
        }
        function dataget() {
            var xhr = new XMLHttpRequest();
            var url = "http://127.0.0.1:5000/getdata";
            var method = 'POST';

            xhr.open(method, url);
            xhr.setRequestHeader('Access-Control-Allow-Origin', '*')
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.onload = function () { oncolli(this.response) };

            let realdata = JSON.stringify('dummydata')

            xhr.send(realdata);
        }
        function oncolli(resp) {
            console.log(resp + " is resp")
            //Hier den respstr in ein Array zurück verwandeln und einfügen
            star = false
            wstar = false
            cstar = false
            curword = ""
            currow = []
            fulltable = []
            for (let i = 0; i < resp.length; i++) {
                if (resp[i] == '"' && star == false) {
                    star == true
                }
                else if (resp[i] == '"' && star == true) {
                    star == false
                }
                else if (resp[i] == "'" && wstar == false) {
                    wstar = true
                }
                else if (resp[i] == "'" && wstar == true) {
                    currow.push(curword)
                    curword = ""
                    wstar = false
                }
                else if (resp[i] == "[" && cstar == false) {
                    cstar = true
                }
                else if (resp[i] == "]" && cstar == true) {
                    fulltable.push(currow)
                    currow = []
                    cstar = false
                }
                else if (wstar == true) {
                    curword = curword + resp[i]
                }
            }
            console.log(fulltable)
            loadmyArray(fulltable)
        }
        function contsettings() {
            if (settingsopen == false) {
                settingsopen = true
                document.getElementById("settingsfield").innerHTML = '<button onclick="setchange(11)">Add row in first position</button><button onclick="setchange(21)">Add col in first position</button><button onclick="setchange(31)">Del row in first position</button><button onclick="setchange(41)">Del col in first position</button><p></p><button onclick="setchange(12)">Add row in last pos</button><button onclick="setchange(22)">Add col in last pos</button><button onclick="setchange(32)">Del row in last pos</button><button onclick="setchange(42)">Del col in last pos</button><p></p><button onclick="setchange(13)">Add row in custom pos</button><button onclick="setchange(23)">Add col in custom pos</button><button onclick="setchange(33)">Del row in custom pos</button><button onclick="setchange(43)">Del col in custom pos</button><p></p>'
            }
            else if (settingsopen == true) {
                settingsopen = false
                document.getElementById("settingsfield").innerHTML = ''
            }
        }
        function setchange(ino) {
            inp = ino.toString()
            if (inp[1] == 1) {
                cur = 'fir'
            }
            else if (inp[1] == 2) {
                cur = 'last'
            }
            else if (inp[1] == 3) {
                cur = 'cus'
            }
            if (inp[0] == 1) {
                addrowmode = cur
                console.log('addrowmode is now ' + cur)
            }
            else if (inp[0] == 2) {
                addcolumnmode = cur
                console.log('addcolumnmode is now ' + cur)
            }
            else if (inp[0] == 3) {
                delrowmode = cur
                console.log('delrowmode is now ' + cur)
            }
            else if (inp[0] == 4) {
                delcolumnmode = cur
                console.log('delcolumnmode is now ' + cur)
            }
        }
        function togglebuttonfield(mode){
            if(buttonsopen==false){
                buttonsopen = true
                cont = ''
                for(let i=0;i<columncount;i++){
                    unid = 'verx' + i
                    cont = cont + '<button id="' + unid + '" onclick = vertresponse(' + i + ',"' + mode + '")>' + mode +' a column at index ' + i +'</button>'
                }
                document.getElementById("buttonfield").innerHTML=cont
            }
            else{
                buttonsopen = false
                document.getElementById("buttonfield").innerHTML=''
            }
        }
        function vertresponse(column, mode){
            if(mode=="Place"){
                console.log('The button linked with column ' + column + ' was executed')
                con()
                bua = backupArray
                addcolumnmode = 'last'
                addcol('nonnor')
                addcolumnmode = 'fir'
                for (let i = 0; i < bua.length; i++) {
                    bua[i].splice(column, 0, "")
                }
                backupArray = bua
                loadArray('nor')
            }
            else{
                con()
                bua = backupArray
                delcolumnmode = 'last'
                delcol('nonnor')
                delcolumnmode = 'fir'
                for (let i = 0; i < bua.length; i++) {
                    bua[i].splice(column, 1)
                }
                backupArray = bua
                loadArray('nor')
            }
            horzbuttonsopen = false
            togglebuttonfield(mode)
            togglebuttonfield(mode)
        }
        function horztogglebuttonfield(mode){
            if(horzbuttonsopen==false){
                horzbuttonsopen = true
                ellist = document.querySelectorAll(".ffield")
                console.log(ellist)
                con()
                for(let i=0;i<ellist.length;i++){
                    unid = 'horx' + i
                    save = ellist[i].innerHTML
                    ellist[i].innerHTML = save + '<button onclick=horzresponse(' + i + ',"' + mode + '") class="horzbut" id="' + unid + '">' + mode + ' a row at index ' + i + '</button>'
                    //For every row element: Get into the HTML and place a button on the right side
                }
                loadArray('nor')
            }
            else{
                horzbuttonsopen = false
                ellist = document.querySelectorAll(".horzbut")
                for(let i = 0;i<ellist.length;i++){
                    ellist[i].outerHTML=''
                }
            }
        }
        function horzresponse(row,mode){
            console.log('User interacted with row ' + row + ' using mode ' + mode)
            if(mode=='Place'){
                con()
                addrowmode = 'last'
                addrow('nor')
                addrowmode = 'cus'
                content = []
                for (let i = 1; i < columncount + 1; i++) {
                    inp = ""
                    content.push(inp)
                }
                bua = backupArray
                bua.splice(row, 0, content)
                backupArray = bua
                loadArray('nor')
            }
            else{
                con()
                delrowmode = 'last'
                delrow('nonnor')
                delrowmode = 'cus'
                bua = backupArray
                bua.splice(row, 1)
                backupArray = bua
                loadArray('nor')
            }
            buttonsopen = false
            horztogglebuttonfield(mode)
            horztogglebuttonfield(mode)
        }
        function writefile(){
            var xhr = new XMLHttpRequest();
            var url = "http://127.0.0.1:5000/write";
            var method = 'POST';

            xhr.open(method, url);
            xhr.setRequestHeader('Access-Control-Allow-Origin', '*')
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.onload = function () { oncheckresp(this.response); dataget()};

            let realdata = JSON.stringify('dummydata')

            xhr.send(realdata);
        }
        function oncheckresp(response){
            console.log(response)
            if(response == 'forced to "wass up bros"'){
                console.log('shit happened')
                document.getElementById("writewarn").innerHTML = 'Warning: This folder has been write-locked by a server admin! The Programm might not work correctly like this, please ask the responsible admin to remove the write-lock on the programm files'
            }
        }
    </script>
    <button onclick="addrow('nor')">Add Row</button>
    <button onclick="addcol('nor')">Add Column</button>
    <button onclick="delrow()">Delete Row</button>
    <button onclick="delcol()">Delete Column</button>
    <button onclick="datasend()">Send to Database</button>
    <button onclick="contsettings()">Settings</button>
    <button><a href="http://127.0.0.1:5000/logout">Log out</a></button>
    <button><a href="http://127.0.0.1:5000/myfile.txt" download="">Export this table</a></button>

    <script>
        function deconstruct(id) {
            out = id.toString().charAt(1)
            console.log(id + " is id");
            return out
        }
        function con() {
            dataArray = []
            for (let i = 1; i < rowcount + 1; i++) {
                datarow = []
                for (let ii = 1; ii < columncount + 1; ii++) {
                    id = "x" + i + "x" + ii
                    currow = document.querySelectorAll("." + id)
                    curval = currow[0].value
                    if (curval != "") {
                        datarow.push(curval)
                    }
                    else {
                        datarow.push('')
                    }
                }
                dataArray.push(datarow)
            }

            var xhr = new XMLHttpRequest();
            var url = "http://127.0.0.1:5000/login";
            var method = 'POST';

            xhr.open(method, url);
            xhr.setRequestHeader('Access-Control-Allow-Origin', '*')
            xhr.setRequestHeader('Content-Type', 'application/json')

            let realdata = JSON.stringify(dataArray)

            xhr.send(realdata);
            backupArray = dataArray
        }
        function loadArray(mode) {
            if (mode == 'nor') {
                bua = backupArray
                if (rowcount >= bua.length && columncount >= bua[0].length) {
                    console.log('Array fit')
                    for (let i = 1; i < bua.length + 1; i++) {
                        for (let ii = 1; ii < bua[0].length + 1; ii++) {
                            loadid = 'x' + i + 'x' + ii
                            document.querySelectorAll('.' + loadid)[0].value = bua[i - 1][ii - 1]
                        }
                    }
                }
                else {
                    console.log(rowcount + ' is rowcount')
                    console.log(columncount + ' is columncount')
                    console.log(bua.length + ' is bualength')
                    console.log(bua[0].length + ' is bua0length')
                }
                console.log('System loaded')
            }
            else if (mode == 'row') {
                bua = backupArray
                if (rowcount >= bua.length - 1 && columncount >= bua[0].length) {
                    console.log('Array fit')
                    for (let i = 1; i < bua.length; i++) {
                        for (let ii = 1; ii < bua[0].length + 1; ii++) {
                            loadid = 'x' + i + 'x' + ii
                            document.querySelectorAll('.' + loadid)[0].value = bua[i - 1][ii - 1]
                        }
                    }
                }
                else {
                    console.log(rowcount + ' is rowcount')
                    console.log(columncount + ' is columncount')
                    console.log(bua.length + ' is bualength')
                    console.log(bua[0].length + ' is bua0length')
                }
                console.log('System attemtepted to load')
            }
            else if (mode == 'col') {
                bua = backupArray
                if (rowcount >= bua.length && columncount >= bua[0].length - 1) {
                    console.log('Array fit')
                    for (let i = 1; i < bua.length + 1; i++) {
                        for (let ii = 1; ii < bua[0].length; ii++) {
                            loadid = 'x' + i + 'x' + ii
                            document.querySelectorAll('.' + loadid)[0].value = bua[i - 1][ii - 1]
                        }
                    }
                }
                else {
                    console.log(rowcount + ' is rowcount')
                    console.log(columncount + ' is columncount')
                    console.log(bua.length + ' is bualength')
                    console.log(bua[0].length + ' is bua0length')
                }
                console.log('System attemtepted to load')
            }
        }
        function dostart() {
            writefile()
        }
    </script>

    <p id="settingsfield"></p>
    <p id="buttonfield"></p>
    
    <p id="writewarn"></p>

    <p ondrop="dosmthfile(event)" ondragover="dosmthdragover(event)">Drag a file here!</p>

    <p>Todo:</p>
    <p>Find better solution for special character: Replace unistring instead of simplifying</p>
    <p>Programm in ein Virtual Env packen?</p>
    <p>Automatically select gender based on namedata from a database?</p>
</body>

</html>

<!-- 
https://youtu.be/Vo7n4j3OrNs?si=n8jOgfcF8d2F6vfL
https://www.youtube.com/watch?v=jxEMUNHFMCI
https://www.youtube.com/watch?v=jfKfPfyJRdk
https://www.youtube.com/watch?v=bnkMsmwCRco
https://www.youtube.com/watch?v=SxFxDpCswW4
https://www.youtube.com/watch?v=N-wIPwEhQOY

https://www.youtube.com/watch?v=56KHX6tMZ0g
https://www.youtube.com/watch?v=EGqWS7HCboA
https://www.youtube.com/watch?v=Cdx73SndLYc
https://www.youtube.com/watch?v=J-_KnNpZoE0

g7mhnZfbbOk -> Kein Ahnung aber falls mal ein Passwort fehlt das hier probieren

Docker Container starten -> docker run --name keycloak -d -p 8080:8080 -e KEYCLOAK_ADMIN=admin -e KEYCLOAK_ADMIN_PASSWORD=g00dadminpassword quay.io/keycloak/keycloak:latest start-dev -> In die Konsole

Docker Container läuft -> Auf 127.0.0.1:8080/realms/ProgrammRealm/account gehen
Account erstellen

erd@lg-do.de

elesio password: 12345687
-->