<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body onload="dostart()">
    <h1>Please enter your data</h1>

    <p id="first">
    <p id="fielddump" class="ffield"><input type="temptext" class="x1x1" onblur="con()" value="Vorname"><input
            type="temptext" class="x1x2" onblur="con()" value="Nachname"><input type="temptext" class="x1x3"
            onblur="con()" value="Mail-Addresse"><input type="temptext" class="x1x4" onblur="con()" value="Addresse">
    </p>
    <p id="secfielddump" class="secfield">
    <p id="field" class="field"></p>
    <p id="secfield" class="secfield"></p>
    </p>
    </p>
    <script>
        let addrowmode = 'last'
        let delrowmode = 'last'
        let addcolumnmode = 'last'
        let delcolumnmode = 'last'
        let settingsopen = false
        let backupArray = []
        let rowcount = 1
        let columncount = 4
        function addrow(mode) {
            if (addrowmode == 'last') {
                if (mode == 'nor') { con() }
                rowcount++
                console.log('rowcount is ' + rowcount)
                content = ''
                for (let i = 1; i < columncount + 1; i++) {
                    let unid = 'x' + rowcount + "x" + i
                    let inp = '<input type="temptext" class="' + unid + '" onblur="con()">'
                    content = content + inp
                }
                console.log(content)
                document.getElementById("field").innerHTML = content
                document.getElementById("field").classList = "ffield"
                document.getElementById("field").id = "fielddump"
                document.getElementById("secfield").innerHTML = '<p id="field" class="field"></p><p id = "tempfield" class ="secfield"></p>'
                document.getElementById("secfield").id = "secfielddump"
                document.getElementById("tempfield").id = "secfield"
                if (mode != 'hal') { loadArray('nor') }
            }
            else if (addrowmode == 'fir') {
                con()
                addrowmode = 'last'
                addrow('nor')
                addrowmode = 'fir'
                content = []
                for (let i = 1; i < columncount + 1; i++) {
                    inp = ""
                    content.push(inp)
                }
                bua = backupArray
                bua.splice(1,0,content)
                backupArray = bua
                console.log(bua)
                console.log(backupArray)
                loadArray('nor')
            }
            else if (addrowmode == 'cus') {
                console.log('cus-interactions have not yet been implemented for this action')
            }
        }
        function addcol(mode) {
            if (addcolumnmode == 'last') {
                con()
                columncount++
                curdoc = document.querySelectorAll(".ffield")
                for (let ii = 1; ii < curdoc.length + 1; ii++) {
                    mancoun = 1
                    content = ''
                    for (let i = 1; i < columncount + 1; i++) {
                        let unid = 'x' + ii + "x" + i
                        let inp = '<input type="temptext" class="' + unid + '" onblur="con()">'
                        content = content + inp
                    }
                    curdoc[ii - 1].innerHTML = content
                    mancoun++
                }
                if (mode != 'kthar') { loadArray('nor') }
                con()
            }
            else if (addcolumnmode == 'fir') {
                console.log('fir-interactions have not yet been implemented for this action')
            }
            else if (addcolumnmode == 'cus') {
                console.log('cus-interactions have not yet been implemented for this action')
            }
        }
        function delrow(mode) {
            if (delrowmode == 'last') {
                con()
                console.log('rowcount is ' + rowcount)
                if (rowcount > 2) {
                    curdoc = document.querySelectorAll(".secfield")
                    if (curdoc.length > 2) {
                        curcurdoc = curdoc[curdoc.length - 2]
                    }
                    else {
                        curcurdoc = curdoc[0]
                    }
                    curdocval = document.querySelectorAll(".ffield")
                    curcurdocval = curdocval[curdocval.length - 1]
                    console.log(curdocval + 'is curdocval')
                    curcurdocval.innerHTML = ""
                    curcurdocvalnew = curdocval[curdocval.length - 2]
                    curcurdocvalnew.id = "field"

                    console.log(curdoc)
                    console.log(curcurdoc)
                    curcurdoc.innerHTML = ""
                    //curcurdoc.id="secfield"
                    curcurdocnew = curdoc[curdoc.length - 3]
                    curcurdocnew.id = "secfield"

                    rowcount--
                    rowcount--
                    addrowmode = 'last'
                    addrow('mor')
                    addrowmode = 'fir'
                }
                loadArray('row')
                if(mode=='nonnor'){con()}
            }
            else if (delrowmode == 'fir') {
                console.log('fir-interactions have not yet been implemented for this action')
                con()
                delrowmode = 'last'
                delrow('nor')
                delrowmode = 'fir'
                bua = backupArray
                console.log(bua + ' before')
                bua.splice(1,1)
                backupArray = bua
                console.log(bua)
                loadArray('nor')
            }
            else if (delrowmode == 'cus') {
                console.log('cus-interactions have not yet been implemented for this action')
            }
        }
        function delcol() {
            if (delcolumnmode == 'last') {
                con()
                if (columncount > 1) {
                    columncount--
                    curdoc = document.querySelectorAll(".ffield")
                    for (let ii = 1; ii < curdoc.length + 1; ii++) {
                        content = ''
                        for (let i = 1; i < columncount + 1; i++) {
                            unid = 'x' + ii + "x" + i
                            inp = '<input type="temptext" class="' + unid + '" onblur="con()">'
                            content = content + inp
                        }
                        console.log(content)
                        console.log(curdoc)
                        curdoc[ii - 1].innerHTML = content
                    }
                }
                loadArray('col')
                con()
            }
            else if (delcolumnmode == 'fir') {
                console.log('fir-interactions have not yet been implemented for this action')
            }
            else if (delcolumnmode == 'cus') {
                console.log('cus-interactions have not yet been implemented for this action')
            }
        }
        function dosmthfile(ev) {
            ev.preventDefault()
            dt = ev.dataTransfer;
            files = dt.files
            mainfile = files[0]
            console.log('Wenn das als File erkannt wird kommt hier was raus: ' + mainfile)
            console.log(mainfile)
            var xhr = new XMLHttpRequest();
            var url = "http://127.0.0.1:5000/fileinp";
            var method = 'POST';

            xhr.open(method, url);
            xhr.setRequestHeader('Access-Control-Allow-Origin', '*')
            xhr.setRequestHeader('Content-Type', 'FormData')
            xhr.onload = function () { console.log(this.response) };

            var formData = new FormData();
            formData.append(mainfile, File)

            xhr.send(formData);
        }
        function dosmthdragover(ev) {
            ev.preventDefault()
            console.log('dragging')
        }
        function usefile() {
            usefilepath = 'C:/Users/Noah/Downloads/myfile.txt'
            var xhr = new XMLHttpRequest();
            var url = "http://127.0.0.1:5000/fileinp";
            var method = 'POST';

            xhr.open(method, url);
            xhr.setRequestHeader('Access-Control-Allow-Origin', '*')
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.onload = function () { oncollide(this.response) };

            let realdata = JSON.stringify(usefilepath)

            xhr.send(realdata);
        }
        function oncollide(response) {
            //inprowcount = response.length
            //inpcolumncount = response[0].length
            console.log(typeof response)
            console.log(response)
            //Weil Python ja nicht will: Hier bei einem " die Annahme beginnen und bei einem weiteren " die Annahme beenden(für den ganzen File)
            started = false
            currentString = ''
            fulllist = []
            timelist = []
            for (let i = 0; i < response.length; i++) {
                if (response[i] == '"') {
                    if (started == false) {
                        started = true
                    }
                    else {
                        if (currentString != 'endline') {
                            timelist.push(currentString)
                            currentString = ''
                            started = false
                        }
                        else {
                            fulllist.push(timelist)
                            currentString = ''
                            timelist = []
                            started = false
                        }
                    }
                }
                else if (started == true) {
                    currentString = currentString + response[i]
                }
            }
            loadmyArray(fulllist)
            con()
            console.log(fulllist)
        }
        function loadmyArray(array) {
            bua = array
            if (rowcount >= bua.length && columncount >= bua[0].length) {
                for (let i = 1; i < bua.length + 1; i++) {
                    for (let ii = 1; ii < bua[0].length + 1; ii++) {
                        loadid = 'x' + i + 'x' + ii
                        document.querySelectorAll('.' + loadid)[0].value = bua[i - 1][ii - 1]
                    }
                }
            }
            else {
                if (rowcount < bua.length) {
                    for (let i = bua.length - rowcount; i > 0; i--) {
                        addrow('hal')
                        console.log('row expanded')
                    }
                }
                if (columncount < bua[0].length) {
                    for (let i = bua[0].length - columncount; i > 0; i--) {
                        addcol('kthar')
                        console.log('column expanded')
                    }
                }
                loadmyArray(array)
            }
            con()
        }
        function datafile() {
            usefilepath = 'hentai'
            var xhr = new XMLHttpRequest();
            var url = "http://127.0.0.1:5000/d";
            var method = 'POST';

            xhr.open(method, url);
            xhr.setRequestHeader('Access-Control-Allow-Origin', '*')
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.onload = function () { oncoll(this.response) };

            let realdata = JSON.stringify(usefilepath)

            xhr.send(realdata);
        }
        function oncoll(file) {
            console.log(typeof file)
            console.log(file)
        }
        function datasend() {
            dataArray = []
            for (let i = 1; i < rowcount + 1; i++) {
                datarow = []
                for (let ii = 1; ii < columncount + 1; ii++) {
                    id = "x" + i + "x" + ii
                    currow = document.querySelectorAll("." + id)
                    if (currow[0].value != "") {
                        datarow.push(currow[0].value)
                    }
                    else {
                        datarow.push('')
                    }
                }
                dataArray.push(datarow)
            }
            console.log(dataArray + ' is dataArray')
            var xhr = new XMLHttpRequest();
            var url = "http://127.0.0.1:5000/data";
            var method = 'POST';

            xhr.open(method, url);
            xhr.setRequestHeader('Access-Control-Allow-Origin', '*')
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.onload = function () { console.log(this.response); con() };

            let realdata = JSON.stringify(dataArray)

            xhr.send(realdata);
        }
        function dataget() {
            var xhr = new XMLHttpRequest();
            var url = "http://127.0.0.1:5000/getdata";
            var method = 'POST';

            xhr.open(method, url);
            xhr.setRequestHeader('Access-Control-Allow-Origin', '*')
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.onload = function () { oncolli(this.response) };

            let realdata = JSON.stringify('dummydata')

            xhr.send(realdata);
        }
        function oncolli(resp) {
            console.log(resp + " is resp")
            //Hier den respstr in ein Array zurück verwandeln und einfügen
            star = false
            wstar = false
            cstar = false
            curword = ""
            currow = []
            fulltable = []
            for (let i = 0; i < resp.length; i++) {
                if (resp[i] == '"' && star == false) {
                    star == true
                }
                else if (resp[i] == '"' && star == true) {
                    star == false
                }
                else if (resp[i] == "'" && wstar == false) {
                    wstar = true
                }
                else if (resp[i] == "'" && wstar == true) {
                    currow.push(curword)
                    curword = ""
                    wstar = false
                }
                else if (resp[i] == "[" && cstar == false) {
                    cstar = true
                }
                else if (resp[i] == "]" && cstar == true) {
                    fulltable.push(currow)
                    currow = []
                    cstar = false
                }
                else if (wstar == true) {
                    curword = curword + resp[i]
                }
            }
            console.log(fulltable)
            loadmyArray(fulltable)
        }
        function contsettings() {
            if (settingsopen == false) {
                settingsopen = true
                document.getElementById("settingsfield").innerHTML = '<button onclick="setchange(11)">Add row in first position</button><button onclick="setchange(21)">Add col in first position</button><button onclick="setchange(31)">Del row in first position</button><button onclick="setchange(41)">Del col in first position</button><p></p><button onclick="setchange(12)">Add row in last pos</button><button onclick="setchange(22)">Add col in last pos</button><button onclick="setchange(32)">Del row in last pos</button><button onclick="setchange(42)">Del col in last pos</button><p></p><button onclick="setchange(13)">Add row in custom pos</button><button onclick="setchange(23)">Add col in custom pos</button><button onclick="setchange(33)">Del row in custom pos</button><button onclick="setchange(43)">Del col in custom pos</button><p></p>'
            }
            else if (settingsopen == true) {
                settingsopen = false
                document.getElementById("settingsfield").innerHTML = ''
            }
        }
        function setchange(ino) {
            inp = ino.toString()
            if (inp[1] == 1) {
                cur = 'fir'
            }
            else if (inp[1] == 2) {
                cur = 'last'
            }
            else if (inp[1] == 3) {
                cur = 'cus'
            }
            if (inp[0] == 1) {
                addrowmode = cur
                console.log('addrowmode is now ' + cur)
            }
            else if (inp[0] == 2) {
                addcolumnmode = cur
                console.log('addcolumnmode is now ' + cur)
            }
            else if (inp[0] == 3) {
                delrowmode = cur
                console.log('delrowmode is now ' + cur)
            }
            else if (inp[0] == 4) {
                delcolumnmode = cur
                console.log('delcolumnmode is now ' + cur)
            }
        }
    </script>
    <button onclick="addrow('nor')">Add Row</button>
    <button onclick="addcol('nor')">Add Column</button>
    <button onclick="delrow()">Delete Row</button>
    <button onclick="delcol()">Delete Column</button>
    <button onclick="datasend()">Send to Database</button>
    <button onclick="contsettings()">Settings</button>
    <button><a href="http://127.0.0.1:5000/logout">Log out(Add link to href)</a></button>
    <button><a href="http://127.0.0.1:5000/myfile.txt" download="">Export this table</a></button>

    <script>
        function deconstruct(id) {
            out = id.toString().charAt(1)
            console.log(id + " is id");
            return out
        }
        function con() {
            dataArray = []
            for (let i = 1; i < rowcount + 1; i++) {
                datarow = []
                for (let ii = 1; ii < columncount + 1; ii++) {
                    id = "x" + i + "x" + ii
                    currow = document.querySelectorAll("." + id)
                    if (currow[0].value != "") {
                        datarow.push(currow[0].value)
                    }
                    else {
                        datarow.push('')
                    }
                }
                dataArray.push(datarow)
            }

            var xhr = new XMLHttpRequest();
            var url = "http://127.0.0.1:5000/login";
            var method = 'POST';

            xhr.open(method, url);
            xhr.setRequestHeader('Access-Control-Allow-Origin', '*')
            xhr.setRequestHeader('Content-Type', 'application/json')

            let realdata = JSON.stringify(dataArray)

            xhr.send(realdata);
            backupArray = dataArray
        }
        function loadArray(mode) {
            if (mode == 'nor') {
                bua = backupArray
                if (rowcount >= bua.length && columncount >= bua[0].length) {
                    console.log('Array fit')
                    for (let i = 1; i < bua.length + 1; i++) {
                        for (let ii = 1; ii < bua[0].length + 1; ii++) {
                            loadid = 'x' + i + 'x' + ii
                            document.querySelectorAll('.' + loadid)[0].value = bua[i - 1][ii - 1]
                        }
                    }
                }
                else {
                    console.log(rowcount + ' is rowcount')
                    console.log(columncount + ' is columncount')
                    console.log(bua.length + ' is bualength')
                    console.log(bua[0].length + ' is bua0length')
                }
                console.log('System loaded')
            }
            else if (mode == 'row') {
                bua = backupArray
                if (rowcount >= bua.length - 1 && columncount >= bua[0].length) {
                    console.log('Array fit')
                    for (let i = 1; i < bua.length; i++) {
                        for (let ii = 1; ii < bua[0].length + 1; ii++) {
                            loadid = 'x' + i + 'x' + ii
                            document.querySelectorAll('.' + loadid)[0].value = bua[i - 1][ii - 1]
                        }
                    }
                }
                else {
                    console.log(rowcount + ' is rowcount')
                    console.log(columncount + ' is columncount')
                    console.log(bua.length + ' is bualength')
                    console.log(bua[0].length + ' is bua0length')
                }
                console.log('System attemtepted to load')
            }
            else if (mode == 'col') {
                bua = backupArray
                if (rowcount >= bua.length && columncount >= bua[0].length - 1) {
                    console.log('Array fit')
                    for (let i = 1; i < bua.length + 1; i++) {
                        for (let ii = 1; ii < bua[0].length; ii++) {
                            loadid = 'x' + i + 'x' + ii
                            document.querySelectorAll('.' + loadid)[0].value = bua[i - 1][ii - 1]
                        }
                    }
                }
                else {
                    console.log(rowcount + ' is rowcount')
                    console.log(columncount + ' is columncount')
                    console.log(bua.length + ' is bualength')
                    console.log(bua[0].length + ' is bua0length')
                }
                console.log('System attemtepted to load')
            }
        }
        function dostart() {
            dataget()
        }
    </script>

    <p id="settingsfield"></p>

    <p ondrop="dosmthfile(event)" ondragover="dosmthdragover(event)">Drag a file here!</p>

    <p>Todo:</p>
    <p>Implement fir- and cus-interactions(fir: add- & delrow)(cus: Prompt? Visual with buttons?)
    </p>
    <p>Implement login with keycloak / Flask oidc</p>
    <p>Fix input of special characters(Replace unistring with original through js after return? Replace with ae etc. in
        js before sending?)</p>
    <p>Do a write check at start</p>
    <p>In die Readme schrieben das man sich Libraries ziehen muss oder das Programm in ein Virtual Env packen</p>
    <p>Remove useless linebreaks in early myfiles and linebreaks when elements are left empty in the middle(Save empty
        spaces as "---" and replace when loaded?)</p>
    <p>Implement dragging element in to update?</p>
    <p>Automatically select gender based on namedata from a database?</p>

</body>

</html>

<!-- 
https://youtu.be/Vo7n4j3OrNs?si=n8jOgfcF8d2F6vfL
https://www.youtube.com/watch?v=jxEMUNHFMCI
https://www.youtube.com/watch?v=jfKfPfyJRdk
https://www.youtube.com/watch?v=bnkMsmwCRco
https://www.youtube.com/watch?v=SxFxDpCswW4
https://www.youtube.com/watch?v=N-wIPwEhQOY

https://www.youtube.com/watch?v=56KHX6tMZ0g
https://www.youtube.com/watch?v=EGqWS7HCboA
https://www.youtube.com/watch?v=Cdx73SndLYc
https://www.youtube.com/watch?v=J-_KnNpZoE0

https://youtu.be/Ghf8XEB0Z4c?si=l52eptmwG-53_AbB

g7mhnZfbbOk

Docker Container läuft -> Auf 127.0.0.1:8080/realms/ProgrammRealm/account gehen
Account erstellen

erd@lg-do.de

docker run --name keycloak -d -p 8080:8080 -e KEYCLOAK_ADMIN=admin -e KEYCLOAK_ADMIN_PASSWORD=g00dadminpassword quay.io/keycloak/keycloak:latest start-dev
-->