<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #dropfield{
            position: absolute;
            width:1920px;
            height:1080px;
        }
    </style>
</head>

<body>
    <div id="dropfield" ondrop="dosmthfile(event)" ondragover="dosmthdragover(event)"></div>
    <h1>Please enter your data</h1>
    
    <p id="first"><p id="fielddump" class="ffield"><input type="temptext" class="x1x1" onblur="con()" value="Vorname"><input type="temptext" class="x1x2" onblur="con()" value="Nachname"><input type="temptext" class="x1x3" onblur="con()" value="Mail-Addresse"><input type="temptext" class="x1x4" onblur="con()" value="Addresse"></p><p id = "secfielddump" class="secfield"><p id="field" class="field"></p><p id = "secfield" class="secfield"></p></p></p>
    <script>
        let backupArray = []
        let rowcount = 1
        let columncount = 4
        function addrow(mode){
            if(mode=='nor'){con()}
            rowcount++
            console.log('rowcount is '+rowcount)
            content = ''
            for(let i = 1;i<columncount+1;i++){
                let unid = 'x' + rowcount + "x" + i
                let inp = '<input type="temptext" class="' + unid + '" onblur="con()">'
                content = content + inp
            }
            console.log(content)
            document.getElementById("field").innerHTML=content
            document.getElementById("field").classList = "ffield"
            document.getElementById("field").id = "fielddump"
            document.getElementById("secfield").innerHTML='<p id="field" class="field"></p><p id = "tempfield" class ="secfield"></p>'
            document.getElementById("secfield").id = "secfielddump"
            document.getElementById("tempfield").id = "secfield"
            loadArray('nor')
        }
        function addcol(){
            con()
            columncount++
            curdoc = document.querySelectorAll(".ffield")
            for(let ii=1;ii<curdoc.length+1;ii++){
                mancoun= 1
                content = ''
                for(let i = 1;i<columncount+1;i++){
                    let unid = 'x' + ii + "x" + i
                    let inp = '<input type="temptext" class="' + unid + '" onblur="con()">'
                    content = content + inp
                } 
                curdoc[ii-1].innerHTML=content
                mancoun++
            }
            loadArray('nor')
        }
        function delrow(){
            con()
            console.log('rowcount is '+rowcount)
            if(rowcount > 2){
                curdoc = document.querySelectorAll(".secfield")
                if(curdoc.length > 2){
                    curcurdoc = curdoc[curdoc.length-2]
                }
                else{
                    curcurdoc = curdoc[0]
                }
                curdocval = document.querySelectorAll(".ffield")
                curcurdocval = curdocval[curdocval.length-1]
                console.log(curdocval +'is curdocval')
                curcurdocval.innerHTML = ""
                curcurdocvalnew = curdocval[curdocval.length-2]
                curcurdocvalnew.id="field"

                console.log(curdoc)
                console.log(curcurdoc)
                curcurdoc.innerHTML = ""
                //curcurdoc.id="secfield"
                curcurdocnew = curdoc[curdoc.length-3]
                curcurdocnew.id = "secfield"

                rowcount--
                rowcount--
                addrow('mor')
            }
            loadArray('row')
        }
        function delcol(){
            con()
            if(columncount>1){
                columncount--
                curdoc = document.querySelectorAll(".ffield")
                for(let ii=1;ii<curdoc.length+1;ii++){
                    content = ''
                    for(let i = 1;i<columncount+1;i++){
                        unid = 'x' + ii + "x" + i
                        inp = '<input type="temptext" class="' + unid + '" onblur="con()">'
                        content = content + inp
                    }
                    console.log(content)
                    console.log(curdoc)
                    curdoc[ii-1].innerHTML=content
                }
            }
            loadArray('col')
        }
        function dosmthfile(ev){
            ev.preventDefault()
            console.log('Wenn das als File erkannt wird kommt hier was raus: ' + ev)
            var xhr = new XMLHttpRequest();
            var url = "http://127.0.0.1:5000/fileinp";
            var method = 'POST';

            xhr.open(method, url);
            xhr.setRequestHeader('Access-Control-Allow-Origin', '*')
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.onload = function () {console.log(this.response)};

            let realdata = JSON.stringify(ev)

            xhr.send(realdata);
        }
        function dosmthdragover(ev){
            ev.preventDefault()
            console.log('dragging')
        }
    </script>
    <button onclick="addrow('nor')">Add Row</button>
    <button onclick="addcol()">Add Column</button>
    <button onclick="delrow()">Delete Row</button>
    <button onclick="delcol()">Delete Column</button>
    <button><a href="http://127.0.0.1:5000/myfile.txt" download="">Export this table</a></button>

    <script>
        function deconstruct(id) {
            out = id.toString().charAt(1)
            console.log(id + " is id");
            return out
        }
        function con(){
            dataArray = []
            for(let i=1;i<rowcount+1;i++){
                datarow = []
                for(let ii=1;ii<columncount+1;ii++){
                    id = "x" + i + "x" + ii
                    currow = document.querySelectorAll("." + id)
                    if(currow[0].value!=""){
                    datarow.push(currow[0].value)}
                    else{
                        datarow.push('')
                    }
                }
                dataArray.push(datarow)
            }

            var xhr = new XMLHttpRequest();
            var url = "http://127.0.0.1:5000/login";
            var method = 'POST';

            xhr.open(method, url);
            xhr.setRequestHeader('Access-Control-Allow-Origin', '*')
            xhr.setRequestHeader('Content-Type', 'application/json')

            let realdata = JSON.stringify(dataArray)

            xhr.send(realdata);
            backupArray = dataArray
        }
        function loadArray(mode){
            if(mode=='nor'){
                bua = backupArray
                if(rowcount>=bua.length && columncount>=bua[0].length){
                    console.log('Array fit')
                    for(let i =1;i<bua.length+1;i++){
                        for(let ii=1;ii<bua[0].length+1;ii++){
                            loadid= 'x' + i + 'x' + ii
                            document.querySelectorAll('.'+loadid)[0].value=bua[i-1][ii-1]
                        }
                    }
                }
                else{
                    console.log(rowcount+' is rowcount')
                    console.log(columncount+' is columncount')
                    console.log(bua.length+' is bualength')
                    console.log(bua[0].length+' is bua0length')
                }
                console.log('System loaded')
            }
            else if(mode=='row'){
                bua = backupArray
                if(rowcount>=bua.length-1 && columncount>=bua[0].length){
                    console.log('Array fit')
                    for(let i =1;i<bua.length;i++){
                        for(let ii=1;ii<bua[0].length+1;ii++){
                            loadid= 'x' + i + 'x' + ii
                            document.querySelectorAll('.'+loadid)[0].value=bua[i-1][ii-1]
                        }
                    }
                }
                else{
                    console.log(rowcount+' is rowcount')
                    console.log(columncount+' is columncount')
                    console.log(bua.length+' is bualength')
                    console.log(bua[0].length+' is bua0length')
                }
                console.log('System attemtepted to load')
            }
            else if(mode=='col'){
                bua = backupArray
                if(rowcount>=bua.length && columncount>=bua[0].length-1){
                    console.log('Array fit')
                    for(let i =1;i<bua.length+1;i++){
                        for(let ii=1;ii<bua[0].length;ii++){
                            loadid= 'x' + i + 'x' + ii
                            document.querySelectorAll('.'+loadid)[0].value=bua[i-1][ii-1]
                        }
                    }
                }
                else{
                    console.log(rowcount+' is rowcount')
                    console.log(columncount+' is columncount')
                    console.log(bua.length+' is bualength')
                    console.log(bua[0].length+' is bua0length')
                }
                console.log('System attemtepted to load')
            }
        }
    </script>

    <p>Todo:</p>
    <p>Make the drop actually retrieve the file</p>
    <p>Implement input file being turned into an Array and sent back through app.py</p>
    <p>Implement login</p>
    <p>Implement database</p>
    <p>Do a write check at start</p>
    <p>Remove useless linebreaks in early myfiles</p>

</body>

</html>

<!-- 

-->